<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.platform.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.platform.entity.Attachment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>