<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.platform.mapper.DealContractDetailsMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.platform.entity.DealContractDetails">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="catalog_code" jdbcType="VARCHAR" property="catalogCode" />
    <result column="catalog_name" jdbcType="VARCHAR" property="catalogName" />
    <result column="produce_area" jdbcType="VARCHAR" property="produceArea" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="attrs" jdbcType="VARCHAR" property="attrs" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="brand_model" jdbcType="VARCHAR" property="brandModel" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="budget_in" jdbcType="DECIMAL" property="budgetIn" />
    <result column="budget_finance" jdbcType="DECIMAL" property="budgetFinance" />
    <result column="budget_self" jdbcType="DECIMAL" property="budgetSelf" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="work_type" jdbcType="VARCHAR" property="workType" />
    <result column="service_require" jdbcType="VARCHAR" property="serviceRequire" />
    <result column="service_content" jdbcType="VARCHAR" property="serviceContent" />
    <result column="license_plate_num" jdbcType="VARCHAR" property="licensePlateNum" />
    <result column="frame_num" jdbcType="VARCHAR" property="frameNum" />
    <result column="engine_number" jdbcType="VARCHAR" property="engineNumber" />
    <result column="factory_plate_model" jdbcType="VARCHAR" property="factoryPlateModel" />
    <result column="first_register_date" jdbcType="VARCHAR" property="firstRegisterDate" />
    <result column="traffic_code" jdbcType="VARCHAR" property="trafficCode" />
    <result column="traffic_price" jdbcType="DECIMAL" property="trafficPrice" />
    <result column="traffic_start" jdbcType="VARCHAR" property="trafficStart" />
    <result column="traffic_end" jdbcType="VARCHAR" property="trafficEnd" />
    <result column="business_code" jdbcType="VARCHAR" property="businessCode" />
    <result column="business_price" jdbcType="DECIMAL" property="businessPrice" />
    <result column="business_start" jdbcType="VARCHAR" property="businessStart" />
    <result column="business_end" jdbcType="VARCHAR" property="businessEnd" />
    <result column="vehicle_tax" jdbcType="DECIMAL" property="vehicleTax" />
    <result column="technology_param" jdbcType="VARCHAR" property="technologyParam" />
    <result column="add_rate" jdbcType="VARCHAR" property="addRate" />
    <result column="require_type" jdbcType="INTEGER" property="requireType" />
    <result column="response_param" jdbcType="VARCHAR" property="responseParam" />
    <association property="review" jdbcType="BIGINT" column="id" select="www.tonghao.platform.mapper.ReviewMapper.selectByDetailId"></association>
  </resultMap>
  
  
    <select id="getByContractId" parameterType="long" resultMap="BaseResultMap">
  		select * from deal_contract_details where contract_id=#{contractId}
  </select>
</mapper>