<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.platform.mapper.PurchaseWayMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.platform.entity.PurchaseWay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="is_frozen" jdbcType="INTEGER" property="isFrozen" />
    <result column="priority" jdbcType="REAL" property="priority" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>