<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.platform.mapper.UnitCatalogsMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.platform.entity.UnitCatalogs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="catalogs_id" jdbcType="BIGINT" property="catalogsId" />
  </resultMap>
  
  <!-- 批量插入计量单位与品目关联 -->
  <insert id="insertBatch">
    INSERT INTO unit_catalogs
            (created_at, updated_at, unit_id, catalogs_id)
    VALUES
    <foreach collection ="catalogsIdArry" item="catalogsId" separator =",">
         (sysdate(), sysdate(), #{unitId}, #{catalogsId})
    </foreach >
  </insert>
</mapper>