<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.service.common.mapper.ArticleTypeMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.service.common.entity.ArticleType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="tree_depth" jdbcType="INTEGER" property="treeDepth" />
    <result column="tree_ids" jdbcType="VARCHAR" property="treeIds" />
    <result column="tree_names" jdbcType="VARCHAR" property="treeNames" />
    <result column="priority" jdbcType="REAL" property="priority" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_parent" jdbcType="VARCHAR" property="isParent" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>
  
  <select id="getChildrenById" parameterType="long" resultMap="BaseResultMap">
      SELECT * FROM article_type WHERE FIND_IN_SET(id,queryChildrenArticleType(#{id}))
  </select>
  
  <select id="getParentById" parameterType="long" resultMap="BaseResultMap">
    select * from article_type where FIND_IN_SET(id,getArticeTypeList(#{id}))
  </select>
  
  
</mapper>