<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.service.common.mapper.IntegralAuditMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.service.common.entity.IntegralAudit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="integral_grant_id" jdbcType="BIGINT" property="integralGrantId" />
    <result column="auditor_id" jdbcType="BIGINT" property="auditorId" />
    <result column="auditor" jdbcType="BIGINT" property="auditor" />
    <result column="audit_at" jdbcType="VARCHAR" property="auditAt" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
  </resultMap>
</mapper>