<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.service.common.mapper.OrderTrackMapper">
    <resultMap id="BaseResultMap" type="www.tonghao.service.common.entity.OrderTrack">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="operate_time" jdbcType="VARCHAR" property="operateTime" />
        <result column="operator" jdbcType="VARCHAR" property="operator" />
    </resultMap>


    <select id="selectByOrderId" parameterType="Long" resultMap="BaseResultMap">
        select * from order_track where orderId = #{orderId} order by operate_time
    </select>

</mapper>