<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.service.common.mapper.PlatformInfoMapper">
    <resultMap id="BaseResultMap" type="www.tonghao.service.common.entity.PlatformInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
        <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    </resultMap>

    <select id="selectByPlatformCode" parameterType="String" resultMap="BaseResultMap">
        select * from platform_info where code = #{platformCode} and is_delete = 0 order by id desc limit 1
    </select>
</mapper>