<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.service.common.mapper.UpperLowerHistoryMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.service.common.entity.UpperLowerHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="operate_id" jdbcType="BIGINT" property="operateId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <select id="selectProductIdGroupBy" resultType="www.tonghao.service.common.entity.UpperLowerHistory">
     select product_id as productId  from upper_lower_history where reason like '%异常%'  group by product_id
  </select>
  
</mapper>