<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.mall.mapper.OrderMasterMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.mall.entity.OrderMaster">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="org_name" jdbcType="BIGINT" property="orgName" />
  </resultMap>
  
  <sql id="Base_Column_list">
  	tb.id,
  	tb.created_at,
  	tb.updated_at,
  	tb.user_id,
  	tb.sn,
  	tb.total,
  	tb.freight,
  	tb.org_id,
  	tb.org_name
  </sql>
  
  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select <include refid="Base_Column_list" /> from order_master as tb where tb.id = #{id}
  </select>
</mapper>