<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.tonghao.mall.mapper.PaySupplierMapper">
  <resultMap id="BaseResultMap" type="www.tonghao.mall.entity.PaySupplier">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="pay_way_id" jdbcType="BIGINT" property="payWayId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
  </resultMap>
  
  
  <select id="findSuppliersByPayWayId" parameterType="java.lang.Long" resultType="www.tonghao.service.common.entity.Suppliers">
		SELECT 
			s.* 
		FROM `pay_supplier` p 
			LEFT JOIN suppliers s ON p.supplier_id = s.id 
		WHERE p.pay_way_id = #{payWayId}
  </select>
</mapper>